@import "../../scss/base/variables";

.messages{
  padding-top: 20px;
  .container{
    @extend %container;
    background-color: #FFFFFF;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
  }

  .contentBox{
    display: flex;
    column-gap: 30px;

  }

  .messageNamesList{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .messagesContent{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .textAreaMessageBox{
    margin-top: 20px;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    align-items: flex-start;

    .textAreaMessage{
      width: 100%;
      height: 200px;
      resize: vertical;
    }
  }

}