.title {
  margin-bottom: 10px;
}


.inputBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .textarea{
    width: 100%;
    resize: vertical;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
  }
}