@import "../../scss/base/variables";

.sidebar {
  height: 100%;
  background-color: #edeef0;
  padding-top: 20px;
  padding-left: 10px;

  .container {
  }

  .sidebarList{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    .sidebarItem{
      padding: 5px;
      transition: all .2s ease;
      &:hover{
        background-color: #5181b842;
        transition: all .2s ease;
      }
    }
    .friendsSection{
      margin-top: 40px;
      width: 100%;

    }
  }

  .sidebarLink {
    display: flex;
    align-items: center;
    column-gap: 10px;
    .menuImg{
      width: 20px;
      height: 20px;
    }
    .menuText{
      font-size: 20px;
    }
  }

}