.post{
  display: flex;
  flex-direction: column;


  .contentBox{
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
  }

  .avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }
  .message{
    font-size: 22px;
  }
}