.friendList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .friendItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
      background-color: #5181b842;
      transition: all .2s ease;
    }

    .img {
      width: 30px;
      height: 30px;
    }

    .name {
      font-size: 14px;
    }
  }
}
